*{
    margin:0 auto;
    padding:0 auto;
    font-family: sans-serif;
}
header{
    background-color: #1a1a1a;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}
header .container{
    display: flex;
    max-width: 1100px;
    justify-content: space-between;
    align-items: center;
}
header .container h3{
    color: white;
    margin-left: 15px;
}
header .container nav ul{
    display:flex;
    list-style: none;
    gap:20px;
}
header .container nav ul a{
    text-decoration: none;
    color: white;
    font-size: 0.8em;
}
header .container nav ul a:hover{
    color:rgba(245, 83, 24, 0.87)
}
header .container a.contact{
    padding: 9px 15px;
    max-width: auto;
    background-color:rgba(245, 83, 24, 0.87) ;
    font-size: 0.8em;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
main .title{
    text-align: center;
    margin: 250px;
}
main .background{
    background-color: rgba(228, 221, 214, 0.774);
}
main .content{
    max-width: 1100px;
}
main .title h1{
    margin:15px;
}
main .title p{
    margin:15px;
    margin-bottom: 30px;
}
main .title a{
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding:9px 20px;
    background-color:rgb(22, 131, 255) ;
}
main .content h2{
    text-align: center;
    margin:40px;
    padding-top: 50px;
}
main .content .article{
    display:flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 50px;
    flex: 1;
    
}
main .content .article img{
    max-width: 90%;
    height:auto;
    margin-bottom: 20px;
    margin-top:15px;
    border-radius: 15px;

}
main .content .article article{
    background-color: white;
    border-radius: 15px;
    box-shadow:0 10px 8px rgba(0,0,0,0.1) ;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;
    padding-bottom: 15px;
    margin-bottom: 50px;
    text-align: center;
    margin:15px;
}
main .content .article article:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
main .content .article article h3{
    margin-bottom: 20px;;
}
main .content .article article p{
    margin-bottom: 20px;;
}
main .content .article article a{
    text-decoration: none;
    color:rgb(22, 131, 255) ;
}
main .content .article article a:hover{
    text-decoration: underline;
}
footer{
    background-color: #1a1a1a;
}
footer .container{
    display: flex;
    color: white;
    padding:20px;
    max-width: 1100px;
}
footer .info{
    margin-left: 15px;
}
footer .container .link a{
    text-decoration: none;
    color: white;
    display:block;
    margin:10px 0;
}
footer .container .link a:hover{
    color:rgba(245, 83, 24, 0.87)
}
